<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="viewfilesaddress" value="http://192.168.10.26:81"/>
  </appSettings>
  <configSections></configSections>
  <connectionStrings>
    <add name="MediaConverterConnectionString" connectionString="Data Source=192.168.100.73;Initial Catalog=MediaConverter;Persist Security Info=True;User ID=MediaConverter;Password=MediaConverter" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="2147483647" executionTimeout="100000" />
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="McService.Mc" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="McService.IMc" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <security>
   <requestFiltering>
       <requestLimits maxAllowedContentLength="2147483647" />
    </requestFiltering>
</security>
  </system.webServer>
</configuration>