<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Service" value="http://192.168.10.26/mc.svc/files/insert"/>
    <add key="SourceService" value="http://217.218.67.231/query/ptnagetitems"/>
    <add key="DestPath" value="\\192.168.10.28\d$\FILES\source\"/>
    <add key="UserId" value="19"/>
  </appSettings>
</configuration>
